{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{% static 'css/index.css' %}">
    <link rel="Stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script type="text/javascript" src="{% static 'js/table_trend.js' %}"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <link href="{% static 'images/favicon.ico' %}"} rel="icon" type="image/x-icon">

    <title>Inoa Sistemas</title>
    {% bootstrap_css %}
</head>
<body onload="setTrend()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;" id="home">
        <a class="navbar-brand" href="#">{{user.first_name}}</a>
        <a class="button-logout" href="{% url 'logout' %}" ><i class="fa fa-sign-out"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'calendar' %}">Calendário Econômico</a>
            </li>
            <li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Carteiras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for portfolio in  portfolios %}
                            <a class="dropdown-item" href="#{{portfolio.name}}">{{portfolio.name}}</a>
                        {% endfor %}
                    </div>
                  </li>
            </li>
          </ul>
        </div>
    </nav>   
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_messages %}
    <div class="carrossel-stocks">
        <ul class="stocks-ul">
            {% for portfolio in  portfolios%}
                {% for stock in portfolio.stocks %}
                    <li id="{{stock.id}}" class="stocks-li">
                        <b>{{stock.symbol}}</b> {{stock.current_quote}}
                    </li>
                {% endfor %}
            {% endfor %}   
            {% for portfolio in  portfolios%}
            {% for stock in portfolio.stocks %}
                <li id="{{stock.id}}" class="stocks-li">
                    <b>{{stock.symbol}}</b> {{stock.current_quote}}
                </li>
            {% endfor %}
        {% endfor %}   
        {% for portfolio in  portfolios%}
        {% for stock in portfolio.stocks %}
            <li id="{{stock.id}}" class="stocks-li">
                <b>{{stock.symbol}}</b> {{stock.current_quote}}
            </li>
        {% endfor %}
    {% endfor %}   
        </ul>
    </div>
    <div class="container-time">
        <ul class="button-list">
            <li>
                Tempo de Atualização
            </li>
            <li>
                <button onclick="chooseTime('second')">1 s</button>
            </li>
            <li>
                <button onclick="chooseTime('minute')">1 m</button>
            </li>
            <li>
                <button onclick="chooseTime('30 minute')">30 m</button>
            </li>
            <li>
                <button onclick="chooseTime('hour')">1 h</button>
            </li>
        </ul>
    </div>
    <div class="creation-forms" >
        <div id="form-create-stock">
            <h3>Adicione um ativo</h3>
            <form action="{% url 'home' %}" method="post" class="form" >
                {% csrf_token %}
                <select name="type_content" id="type_content" required>
                    <option value="">Escolha uma Carteira</option>
                    {% for portfolio in  portfolios %}
                        <option value={{portfolio.id}}>{{portfolio.name}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="codigo"  placeholder="Coloque o código da B3 aqui" required>
                <input type="submit" value="Criar">
            </form>
        </div>
        <div id="form-create-portifolio">
            <form action="{% url 'home' %}" method="post" class="form" >
                <h3>Crie uma Carteira</h3>
                {% csrf_token %}
                <input type="text" name="portifolio"  placeholder="Nome do portifólio" required>
                <input type="submit" value="Criar">
            </form>
        </div>
    </div>
    <div id="stock-content" class="content">
        {% for portfolio in  portfolios%}
        <h2 id="{{portfolio.name}}" ><b>Carteira:</b> {{portfolio.name}} <a href="#home"><i class="fa fa-home"></i></a></h2>
        <table class="table" style="text-align: center;">
                <tr>
                    <th>Código B3</th>
                    <th>Tendência</th>
                    <th>Preço</th>
                    <th>Nome</th>
                    <th>Moeda</th>
                    <th>Limite inferior</th>
                    <th>Limite Superior</th>
                    <th>Histórico</th>
                    <th></th>
                </tr>
                {% for stock in portfolio.stocks %}
                    <tr>
                        <td>{{stock.symbol}}</td>
                        <td>{{stock.trend}}</td>
                        <td>R$ {{stock.current_quote}}</td>
                        <td>{{stock.name}}</td>
                        <td>{{stock.currency}}</td>
                        <td style="color: red;">R$ {{stock.limit_inferior}}</td>
                        <td style="color: green;">R$ {{stock.limit_superior}}</td>
                        <td>
                            <form action="{% url 'graph' %}" method="post"> 
                                {% csrf_token %}
                                <button class="btn-primary" name="symbol" type="submit" value="{{stock.symbol}}">Gráfico</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'delete' %}" method="post"> 
                                {% csrf_token %}
                                <button  name="submit" type="submit" value="{{stock.id}}"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% endfor %}
    </div>

    <script>
        var time = 1000

        function chooseTime(time_course){
            clearInterval(interval);
            if(time_course === 'second'){            
                time = 1000
                moni_time(time)
            }
            else if( time_course === 'minute'){
                time = 60000
                moni_time(time)
            }
            else if( time_course === '30 minute'){
                time = 18000000
                moni_time(time)
            }
            else if( time_course === 'hour'){
                time = 36000000
                moni_time(time)
            }
        }

        var interval = moni_time(time)

        function moni_time(time){
            return setInterval(function(){ 
            var content = document.getElementById('stock-content')
            fetch('http://127.0.0.1:8000/stocks/')
                .then(resp => resp.text())
                    .then(html => {
                        content.innerHTML = html
                        setTrend()
                        console.log(time)
                    }) 
            }, time);
        }
    </script>
</body>
</html>