{% load static %}

{% for portfolio in  portfolios%}
<h2 id="{{portfolio.name}}"><b>Carteira:</b> {{portfolio.name}} <a href="#home"><i class="fa fa-home"></i></a></h2>
<table class="table" style="text-align: center;">
    <tr>
        <th>Código B3</th>
        <th>Tendência</th>
        <th>Preço</th>
        <th>Nome</th>
        <th>Moeda</th>
        <th>Limite inferior</th>
        <th>Limite Superior</th>
        <th>Histórico</th>
        <th></th>
    </tr>
    {% for stock in portfolio.stocks %}
        <tr>
            <td>{{stock.symbol}}</td>
            <td>{{stock.trend}}</td>
            <td>R$ {{stock.current_quote}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.currency}}</td>
            <td style="color: red;">R$ {{stock.limit_inferior}}</td>
            <td style="color: green;">R$ {{stock.limit_superior}}</td>
            <td>
                <form action="{% url 'graph' %}" method="post"> 
                    {% csrf_token %}
                    <button class="btn-primary" name="symbol" type="submit" value="{{stock.symbol}}">Gráfico</button>
                </form>
            </td>
            <td>
                <form action="{% url 'delete' %}" method="post"> 
                    {% csrf_token %}
                    <button  name="submit" type="submit" value="{{stock.id}}"><i class="fa fa-trash-o"></i></button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endfor %}